body {
  background-image: url(https://wallpapercave.com/uwp/uwp593816.jpeg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
}

h2 {
  font-weight: bold;
  text-decoration: underline;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration-color: rgb(255, 200, 97);
  margin: 0 auto;
}

h3 {
  color: white;
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  margin-top: 200px;
}

.container-buttons {
  display: flex;
  
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.container-buttons button {
  width: 150px;
  height: 40px;
  margin: 10px;
}

input#pseudo.form-control {
  background-color: rgb(255, 255, 255);
}

button.btn.btn {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 200, 97);
  border-radius: 20px;
  padding: 10px 60px;
}

button.btn.btn:hover {
  background-color: rgb(255, 220, 147);
}

#timer {
  color: white;
}

#progress {
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.justify-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

b {
  color: white
}

#reponses {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reponses button {
  width: 200px; /* Choisissez la largeur souhaitée */
  margin-bottom: 10px; /* Espace entre les boutons (facultatif) */
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

#rep1.col1.btn,
#rep2.col2.btn,
#rep3.col3.btn,
#rep4.col4.btn {
  text-align: center;
  justify-content: center;
  align-items: center;
  white-space: normal;
  overflow-wrap: normal;
  flex-grow: 1;
  margin: 5px;
}

#reponses.container {
  position: fixed;
  display: flex;
  flex: 1;
  margin: 5px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  word-wrap: break-word;
}
